@charset "shift_jis";
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	font-family:Meiryo,'メイリオ',verdana,'Lucida Grande','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',OSAKA,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 80%;
}


.container {
	position:relative;
	padding:20px;
	}
p{
}

.text_right{text-align:right;}
.text_left{text-align:left;}
.text_center{text-align:center;}
.text_top{vertical-align:top;}

.color_red{color:#FF0000;}
.color_blue{color:#0000FF;}
.color_wgray{color:#999999;}
.color_white{color:#ffffff;}

.b_color_wblue{
	background-color:#33FFCC;
	}

.font-l {
	font-weight:bold;
	font-size:140%;
}
.font-l-red {
	font-weight:bold;
	font-size:140%;
	color:#C00;
}

/* h2 {
	border-left:20px solid #448ACA;
	border-bottom:2px solid #448ACA;
	padding:10px;
	font-weight:bold;
	} */
/* h3 {
	border-bottom:1px solid #448ACA;
	padding:5px;
	font-weight:bold;
	} */
h4 {
	border-bottom:1px dotted #448ACA;
	padding:5px;
	font-weight:bold;
	}


.table_title{
	width:100%;
	background-color:#666666;
	font-size:large;
	font-weight:600;
	color:#FFFFFF;
}

.table_main{
	background-color:#aaaaaa;
}
.table_main th{
	background-color:#666666;
	color:#FFFFFF;
	text-align:center;
}
.table_main td{
	background-color:#eeeeee;
	color:#333333;
}
th.date{
	text-align:left;
}

.header {
	display:table;
	width:100%;
	padding:10px 20px;
	border-bottom:2px solid #448ACA;
	font-size:24px;
	}



h1.title {
	display:table-cell;
	font-size:18px;
	color: #fff;
	font-weight: bold;
	padding:5px;
	width:50%;
}

.nav_section {
	display:table-cell;
	padding-right:20px;
}

.nav_section ul {
	text-align:right;
}

.nav_section ul li {
	display:inline-block;
	text-align:right;
	border-left:1px solid #fff;
	color:#fff;
}

.nav_section li:first-child {
	border-left:none;
	}

.nav_section ul li a {
	display:block;
	padding:5px;
	color:#fff;
	text-decoration:none;
}

.nav_section ul li a:hover {
	background:#777;
	color:#fff;
}
.nav_section ul li a.active {
	background:#777;
	color:#fff;
}

.nav_section ul li a.active:before {
	content:"▼";
}

.nav_section ul li a span {
	color:#f00;
}

.order_info {
	position:relative;
	display:flex;
	}
.order_info_col {
	padding:20px;
	}

.order_info_col .disc li {
	margin:0 0 5px 10px;
	}

ul.btn_info {
	margin:0;
	padding:0;
	}
.btn_info li {
	display:table;
	margin:0;
	}
.btn_info li div {
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	}

label {
	vertical-align:middle;
	}

table.list {
	width:100%;
	background-color:#fff;
	border-collapse: collapse;
	border:1px solid #ccc;
	margin-right:20px;
}

table.list th {
	background-color:#448ACA;
	color:#fff;
	text-align:center;
	border:1px solid #ccc;
	font-size:12px;
	font-weight:normal;
	padding:3px;
}

table.list th {
	position: sticky;
	top: 0;
	}

table.list td {
	color:#333333;
	font-size:12px;
	font-weight:normal;
	border:1px solid #777;
	vertical-align: middle;
	padding:5px 2px;
}

.td_red {background:#c00;}
.td_pink {background:#ff8080;}
.td_blue {background:#ccffff;}
.td_yellow {background:#ffff33;}
.td_gray {background:#ccc;}

.td_red_smpl {display:inline-block;background:#c00;border:1px solid #ccc;width:1em;height:1em;margin-right:5px;}
.td_pink_smpl {display:inline-block;background:#ff8080;border:1px solid #ccc;width:1em;height:1em;margin-right:5px;}
.td_blue_smpl {display:inline-block;background:#ccffff;border:1px solid #ccc;width:1em;height:1em;margin-right:5px;}
.td_yellow_smpl {display:inline-block;background:#ffff33;border:1px solid #ccc;width:1em;height:1em;margin-right:5px;}
.td_gray_smpl {display:inline-block;background:#ccc;border:1px solid #ccc;width:1em;height:1em;margin-right:5px;}
.td_white_smpl {display:inline-block;background:#fff;border:1px solid #ccc;width:1em;height:1em;margin-right:5px;}



th a {
	color:#fff;
	}
a.sort_active {
	color:#ffff00;
	}

.checkbox {
	width:1.5em;
	height:1.5em;
	margin-right:5px;
	}

td button {
	font-size:11px;
	white-space:nowrap;
	margin:2px 0;
	width:100%;
	}

.item_line_area {
	width:100%;
	}

.item_line {
	border-bottom:1px dotted #000;
	padding-top:5px;
	padding-bottom:5px;
	}

.item_comment_area {
	width:100%;
	height:8em;
	overflow-y:scroll;
}

table.list tbody tr:hover {
	background-color: #fcfbc5;
}
table.list tbody tr:hover td.taiou_button {
	background-color: #fcfbc5 !important;
}

.nowrap_txt {
	width:100%;
	height:1.3em;
	overflow:hidden;
}

.input_data {
	border-bottom:1px dotted #000;
	padding-bottom:3px;
}
.input_edit {
	border-bottom:1px dotted #000;
	padding-bottom:3px;
	white-space:nowrap;
}

summary.rule_btn {
	background:#c00;
	border-radius:5px;
	padding:10px;
	color:#fff;
	margin:10px 0;
	}

summary.item_btn {
	background:#f2f2f2;
	border-radius:5px;
	padding:10px;
	color:#000;
	}

summary {
  cursor: pointer;
}

td.attention {
	background:#c00;
	color:#fff;
}


div.scroll_div {
	min-width:1280px;
	max-height:400px;
	border:1px solid #777;
	overflow: auto;
	}
